# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
*.log

# Virtual environment
env/
venv/

# VS Code
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# PDFs or output files (optional)
*.pdf

# Streamlit temporary files
.streamlit/
